
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=PT+Sans:ital@1&display=swap');

body {
    background-color: #fde4cf;
    width: 50%;
    padding-left: 25%;
    
}

.data {
    color: #006d77;
    font-family: 'PT Sans', sans-serif;
    padding-right: 10%;
}

.titulo {
    font-family: 'Libre Baskerville', serif;
}

